.implicit {
    background-color: #20b1bb;
}
.darken {
    background-color: rgb(27, 27, 27);
}

.grow-implicit {
    display: grid;
    gap: 1rem;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:repeat(2, 1fr);

    grid-auto-flow: row; /* default */
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.dense {
    grid-auto-flow: row dense;
}

#g1_1{
    grid-column-start: 3;
    /* 
    "Negative numbers will count backwards from the end of explicitly defined grid lines"
    - E. A. Meyer, E. Weyl (2017). CSS the definitive guide (4th edition, page 689)
    QUIZ: What will happen here?(TRICKQUESTION)*/
    /* grid-row-start: -1; */
}

#g1_2{
    grid-column-start: 2;
    grid-row-start: 2;
}

#g2_1{
    grid-column-start: 3;    
}
