.implicit {
    background-color: #d31c68;
}
.darken {
    background-color: rgb(27, 27, 27);
}

.grow-implicit {
    display: grid;
    gap: 1rem;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:repeat(2, 1fr);

    grid-auto-flow: row; /* default */
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.dense {
    grid-auto-flow: row dense;
}

#g1_1{
    grid-column-start: 3;
}

#g1_2{
    grid-column-start: 2;
    grid-row-start: 2;
}

#g2_1{
    grid-column-start: 3;
}
